# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Docker volumes
data/

# Spark runtime artifacts (checkpoint & trained model)
Spark/checkpoint_spark/
Spark/model_keterlambatan/

# Delta Lake storage (Anggota 4)
delta_lake/

# Backend runtime artifacts
Backend/__pycache__/
Backend/*.pyc
Backend/.venv/
Backend/venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db