# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Docker volumes
data/

# Spark runtime artifacts (checkpoint & trained model)
Spark/checkpoint_spark/
Spark/model_keterlambatan/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db